@import 'colors';
@import 'fonts';
@import 'reset';


@mixin body-font {
    font-family: font(roboto);
    font-size: 16px;
    font-weight: lighter;
}

html {
  overflow-x: hidden;
}

body {
    @include body-font;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
}

.wrapper {
    width: 60%;
    margin: auto;

    @media screen and (max-width: 600px) {
        width: 80%;
    }
}

.wrapper-columns {
    display: flex;
    margin-bottom: 48px;

    @media screen and (max-width: 600px) {
        display: block;
    }

    .two-column {
        width: 50%;

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        &:first-child {
            padding-right: 16px;

            @media screen and (max-width: 600px) {
                padding: 0;
            }
        }

        &:last-child {
            padding-left: 16px;

            @media screen and (max-width: 600px) {
                padding: 0;
                margin-top: 48px;
            }
        }
    }
}

b {
  font-weight: normal;
}

i {
  font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

p {
    @include body-font;
    line-height: 150%;
    padding: 8px 0 8px 0;
}

a {
    text-decoration: none;
    outline: none;
    color: color(black);
    font-weight: normal;

    &:hover {
      color: black;
      text-decoration: underline solid color(color);
    }
}

.button {
    background: color(color_hover);
    color: color(black);
    border-radius: 26px;
    padding: 12px 24px;
    margin-top: 24px;

    &:hover {
        background: color(color);
        color: color(white);
        text-decoration: none;
    }
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    margin-bottom: 48px;
    margin-top: 24px;
}

.image-description {
    text-align: center;
    margin-top: -48px;
    font-size: 14px;
    margin-bottom: 24px;
}

/* Headings */

@mixin title-font {
    font-family: font(roboto);
    font-weight: normal;
    color: black;
    padding: {
        top: 8px;
        bottom: 6px;
  }
}

h1 {
    @include title-font;
    font-size: 42px;
}

h2 {
    @include title-font;
    text-align: center;
    font-size: 32px;
    padding-top: 24px;
}

h3 {
    @include title-font;
    font-size: 24px;
    line-height: 120%;
    padding-top: 48px;
}

.highlighted-title {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 0 12px 0;
}

h4 {
    @include title-font;
    font-size: 18px;
    padding-top: 24px;
}

h5 {
    @include title-font;
    font-size: 16px;
    padding-top: 24px;
}

/* Lists */

@mixin list {
    padding-left: 14px;
    line-height: 180%;
    margin-bottom: 16px;
}

ul {
  list-style-type: "\2B29";
  @include list;

  ul {
    margin-bottom: 0;
  }
}

ol {
  list-style-type: decimal;
  @include list;

  ol {
      list-style-type: lower-latin;
      margin-bottom: 0;
      margin-left: 6px;
  }
}

li {
    padding-left: 4px;
    padding-bottom: 6px;
    @include body-font;
}

/* Page Header */

.page-header {
    margin: 48px 0 0 128px;
    display: flex;
    align-items: center;
    align-content: center;

    h1, h2 {
        text-align: right;
    }

    p {
        font-size: 16px;
    }

    a {
        color: color(black);

        &:hover, &:focus {
            background: color(color);
            color: color(white);
        }
    }

    .text {
        text-align: right;
        margin-right: 42px;
    }

    img {
        border-top-left-radius: 26px;
        border-bottom-left-radius: 26px;
        width: auto;
        max-width: 50%;
        height: auto;
        max-height: 426px;
    }
}

@media screen and (max-width: 800px) {
  .page-header {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .text {
          text-align: center;
          margin: 0px 48px 48px 48px;
      }

      h1, h2 {
          text-align: center;
      }

      img {
          border-radius: 26px 26px 0px 26px;
          max-width: 80%;
          max-height: 80%;
          margin-top: 0;
      }
  }
}

/* Project Element */

.project {
    display: flex;
    border: 1px solid color(black_25);
    margin-top: 24px;

    img {
        width: 30%;
        height: 30%;
        margin: 0;
    }

    h3 {
        padding-top: 0;
    }

    .text {
        padding-left: 24px;
        padding-right: 48px;
        margin-top: auto;
        margin-bottom: auto;

        .project-timeline {
            font-size: 14px;
            font-style: italic;
        }

        p {
            color: color(black);
            font-weight: lighter;
            font-size: 16px;
        }
    }

    &:hover {
        border: 1px solid color(color);
        background: color(color_hover);

        h3, p {
            text-decoration: underline solid color(color_hover);
        }
    }

    @media screen and (max-width: 1000px) {
      display: block;
      border-radius: 0px 0px 0px 26px;

      img {
          width: 100%;
          height: 100%;
      }

      .text {
          padding: 24px;
      }
    }
}
